<ion-app>
    <ion-split-pane contentId="main" when="md">
        <ion-menu side="start" menuId="first" contentId="main">
            <ion-header *ngIf="vendedor">
                <ion-toolbar class="toolbar" color="sudamate">
                    <ion-buttons class="boton-cerrar" slot="end">
                        <ion-button (click)="menu.close('first');">
                            <ion-icon slot="icon-only" name="close-circle"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-list class="lista" color="sudamate">
                        <ion-item lines="none" class="item" color="sudamate">
                            <ion-icon class="icon" name="person-circle-sharp"></ion-icon>
                            <ion-label>
                                <h2 class="titulo label">{{usuario.nombre}} {{usuario.apellido}}</h2>
                                <h3 class="subtitulo label vendedor">{{usuario.rol}}</h3>
                            </ion-label>
                        </ion-item>
                        <ion-item class="item" (click)="Salir()" lines="none" color="sudamate">
                            <ion-label>Cerrar sesión</ion-label>
                            <ion-icon class="iconos-menu" slot="start" name="log-out"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-toolbar>
            </ion-header>
            <ion-content *ngIf="vendedor">
                <ion-list>
                    <ion-menu-toggle routerLink="/inicio" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Inicio</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="home"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/identificaciones" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Visitas</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="book"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/catalogo-productos" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Productos</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="grid"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/clientes" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Clientes</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="people"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/tienda" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Tienda</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="storefront"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/carrito" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Carrito</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="cart"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/pedidos" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Pedidos</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="list-sharp"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/tutoriales" autoHide="false">
                        <ion-item button detail>
                            <ion-label>Tutoriales </ion-label>
                            <ion-icon class="icon-menu" slot="start" name="film"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/productos" *ngIf="!cliente">
                        <ion-item button detail>
                            <ion-label>Productos</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="albums"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle routerLink="/pedidos" *ngIf="!cliente">
                        <ion-item button detail>
                            <ion-label>Mis pedidos</ion-label>
                            <ion-icon class="icon-menu" slot="start" name="list-sharp"></ion-icon>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main"></ion-router-outlet>
    </ion-split-pane>
</ion-app>