<!-- <ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <ion-card *ngFor="let usuario of listaUsuarios">
    <ion-item  >
      <ion-label class="titulo">
        {{usuario.nombre}} {{usuario.apellido}}
      </ion-label>
      <ion-buttons>
        <ion-button slot="end" (click)="editUser(usuario)" routerLink="/registrar">  
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
        <ion-button slot="end" (click)="deleteUser(usuario)">  
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item  >
      <ion-label class="subtitulo">
        {{usuario.telefono}}
      </ion-label>
    </ion-item>
    <ion-item  >
      <ion-label class="subtitulo">
        {{usuario.email}}
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
<ion-footer>
  <app-footer></app-footer>
</ion-footer>  -->



