<ion-header>
    <app-header [titulo]="tituloTutoriales"></app-header>
</ion-header>

<ion-content>
    <ion-item detail (click)="watch('M7RiBcTdq0E&list=PL9cZqOuuzAWln7QsiQhpPW7DN2K04MHrL&index=13&ab_channel=juanpablo')">
        <ion-thumbnail slot="start">
            <img src="/assets/img/logo youtube.jpg">
        </ion-thumbnail>
        <ion-label>
            <h2>Iniciar Sesión</h2>
            <p>Tutorial para ingresar a la app</p>
        </ion-label>
    </ion-item>
    <ion-item detail (click)="watch('AzizHamoodAlshabibi')">
        <ion-thumbnail slot="start">
            <img src="/assets/img/logo youtube.jpg">
        </ion-thumbnail>
        <ion-label>
            <h2>Realizar un pedido</h2>
            <p>Tutorial para realizar una compra</p>
        </ion-label>
    </ion-item>
</ion-content>